laravel-timestone/node_modules
/timestone/hot
/timestone/storage
laravel-timestone/storage/*.key
laravel-timestone/vendor
laravel-timestone/.env
laravel-timestone/.env.backup
laravel-timestone/.phpunit.result.cache
laravel-timestone/docker-compose.override.yml
laravel-timestone/Homestead.json
laravel-timestone/Homestead.yaml
laravel-timestone/npm-debug.log
laravel-timestone/yarn-error.log
laravel-timestone/.idea
laravel-timestone/.vscode